div.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ddd;
  width: 90%;
  margin: 0 auto;
  color: #222
}

header{
  
  min-height: 40vh;
  position: relative;
  overflow: hidden;
}

main{
  display: flex;
  padding: 30px 0;
  flex-grow: 1;
}

.burger{
  display: none;
  position: absolute;
  top: 2vh;
  left: 5%;
  font-size: 40px; 
  color: darkgreen;
  line-height: 50px;
  z-index: 1;
  transition: .4s linear;
}

.burger:hover{ cursor: pointer; }

aside{
  min-width: 22%;
  border-right: 2px solid white;
}

i.icon{ display: none}
i.show{display: block;}

aside.show{ left: 0}

@media (max-width: 1200px) {

  aside nav.main a{ 
    font-size: 14px; 
    padding-right: 5px;
  }

  section.page{ font-size: 16px;}

}

@media (max-width: 900px) {

  div.app{ width: 100%;}

  aside {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -70%;
    padding-top: 40vh;
    min-width: 26%;
    background-color: rgba(0, 0, 0, .8);
    transition: .3s linear;
    
  }

  aside nav.main a{
    color: white;
    font-size: 10px;
    padding: 20px;
  }

  section.page{ font-size: 14px;}



  aside nav.main a.active{ border-left: 5px solid grey; }

  .burger{display: block;}

}


section.page{
  padding-left: 4%;
  flex-grow: 1;
}

footer{
  background-color: black;
  color: white;
  padding: 10px 0; 
  text-align: center;
  text-transform: uppercase;
}