
header div{
    background-attachment: fixed;
    height: 50vh;
    background-size: cover;
    background-position: center -290px;
  }

  header div.halaGasienicowa{ background-position: left -150px;}
  header div.asign{ background-position: -10px -220px;}

  header div.asign{ background-image: url('../images/error.jpg'); }
  header div.pieniny{ background-image: url('../images/2.jpg');}
  header div.halaGasienicowa{ background-image: url('../images/3.jpg');}
  header div.rocks{ background-image: url('../images/1.jpg');}
  header div.mountainsSnow{ background-image: url('../images/4.jpg');}
  header div.asign{ background-image: url('../images/error.jpg');}

@media( max-width: 450px){

    header div{
        height: 50vh;
        background-size: cover;
        background-position: center -290px;
    }


    header div.halaGasienicowa{ background-position: left -150px;}
    header div.asign{ background-position: -200px -50px;}
}