.app form input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    text-align: center;
    color: darkgreen;
    letter-spacing: .3px;
    text-transform: uppercase;
    border: 2px solid gray;
    background-color: white;
    transition: .3s;
}

.app div.placesWeather{
    display: flex;
    justify-content:space-between;
    margin-bottom: 4vh;
    font-size: medium;
    font-weight: bold;
}

.app div.placesWeather p:focus{ color: green;}

.app .result{
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    border-top: 2px solid #ddd;
}

.app .result p{
    text-align: center;;
    line-height: 200%;
    font-weight: normal; 
}

