.app form input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    text-align: center;
    color: darkgreen;
    letter-spacing: .3px;
    text-transform: uppercase;
    border: 2px solid gray;
    background-color: white;
    transition: .3s;
}

.app ul.placesWeather {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6vh;
    font-weight: bold;
    flex-wrap: wrap;
}


.app ul.placesWeather li {
    cursor: pointer;
    text-transform: uppercase;
}


ul.placesWeather li button:hover {
    color: green
}

.app .result {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    border-top: 2px solid #ddd;
    margin-top: 3vh;
}

.app .result p {
    text-align: center;
    line-height: 200%;
    font-weight: normal;
}

p.icon img {
    height: 80px;
    width: 80px;
}


.app ul.placesWeather li button {
    border: none;
    background-color: inherit;
    text-transform: uppercase;
}

@media(max-width: 1200px) {

    .app ul.placesWeather li button {
        font-size: 10px;
    }

    .app form input {
        padding: 6px 12px;
        font-size: 12px;
    }

    .app .result {
        font-size: 14px;
    }

    p.icon img {
        height: 50px;
        width: 50px;
    }
}

@media (max-width: 800px) {

    .app ul.placesWeather {
        flex-direction: column;
        font-weight: normal;
        text-align: center;
        margin-bottom: 3.5vh;
    }

    .app ul.placesWeather li {
        margin-bottom: 1vh;
    }

    p.icon img {
        height: 50px;
        width: 50px;
    }
}

@media (max-width: 600px) {

    .app ul.placesWeather {
        margin-bottom: .5vh;
    }


    .app ul.placesWeather li {
        margin-bottom: 1.5vh;
    }

    .app ul.placesWeather li button {
        font-size: 16px;
    }



}